<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>

    {{>headers}}
    <p>{{helptext}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolor hic minima incidunt placeat laboriosam vitae voluptas expedita odit ut velit quisquam, cum, quo sequi iusto, corrupti earum officiis quod?</p>
    {{>footer}}
</body>

</html>