
<style>
   a{
      color: rgba(78, 83, 87, 0.658);
      text-decoration: none;
      margin-left: 8px;
   }
   h1{
      font-size: 50px;
   }
   
</style>
 <h1>{{title}}</h1>
 <div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
 </div>